@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px #d1d5db inset; /*bg-color auto input*/
}

:root {
  --black-gradient: linear-gradient(
          144.39deg,
          #ffffff -278.56%,
          #6d6d6d -78.47%,
          #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
          64.18% 64.18% at 71.16% 35.69%,
          #def9fa 0.89%,
          #bef3f5 17.23%,
          #9dedf0 42.04%,
          #7de7eb 55.12%,
          #5ce1e6 71.54%,
          #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
          157.81deg,
          #def9fa -43.27%,
          #bef3f5 -21.24%,
          #9dedf0 12.19%,
          #7de7eb 29.82%,
          #5ce1e6 51.94%,
          #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
          144.39deg,
          #ffffff -278.56%,
          #6d6d6d -78.47%,
          #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
          -168.39deg,
          #ffffff -278.56%,
          #6d6d6d -78.47%,
          #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
          153.47deg,
          rgba(255, 255, 255, 0) -341.94%,
          #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;

}

.feedback-card:hover {
    background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.gray__gradient {
    background: rgb(209,210,219);
    background: linear-gradient(264deg, rgba(209,210,219,1) 0%, rgba(156,163,175,1) 78%);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

@layer utilities {
    @variants responsive {
        .masonry {
            column-gap: 1.5em;
            column-count: 1;
        }
        .masonry-sm {
            column-gap: 1.5em;
            column-count: 2;
        }
        .masonry-md {
            column-gap: 1.5em;
            column-count: 3;
        }
        .break-inside {
            break-inside: avoid;
        }
    }
}

/* pagination */

@media only screen and (min-width: 0px) {
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 3px;
    }

    .pagination .page-number {
        font-size: 16px;
        font-weight: 600;
        color: #616161;
        background: #e0e0e0;
        padding: 6px 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
    }
}

@media only screen and (min-width: 400px) {
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 10px;
    }

    .pagination .page-number {
        font-size: 16px;
        font-weight: 600;
        color: #616161;
        background: #e0e0e0;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
    }
}

@media only screen and (min-width: 768px) {
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 10px;
    }

    .pagination .page-number {
        font-size: 16px;
        font-weight: 600;
        color: #616161;
        background: #e0e0e0;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
    }
}

.pagination .page-number:hover {
    color: #e0e0e0;
    background: #616161;
}

.pagination .active {
    color: #e0e0e0;
    background: #616161;
}

.pagination .active:hover {
    color: #e0e0e0;
    background: #616161;
}

/*visible animation*/

.fixed-nav-visible {
    animation-name: slide-up;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/*opacity*/

.gray__opacity {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
}

.gray__opacity::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.4);
}

